[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
apscheduler = "*"
rq = "*"
redis = "*"
"iso8601" = "*"
tinydb = "*"
dash = "*"
dash-renderer = "*"
dash-html-components = "*"
dash-core-components = "*"
plotly = "*"
flask = "*"
scipy = "*"

[dev-packages]

[requires]
python_version = "3.7"
